<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Chronicles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>

<body>

<div class="top-bar">
    {% if user.is_authenticated %}
        <span>Welcome, {{ user.username }}!</span>
        <a href="{% url 'Logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'Login' %}">Login</a> |
    <a href="{% url 'Signup' %}">Signup</a>
    {% endif %}

</div>

<header>
    <h1>Kitchen Chronicles</h1>
</header>

<!-- Navigation Bar -->
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'About' %}">About</a></li>
            
            <!--Daily Recipes Dropdown button-->
            <li class="dropdown">
                <button class="dropbtn">
                    <a href="{% url 'Recipes' %}">Recipes 
                        <i class="fi fi-rr-angle-small-down"></i>
                    </a>
                </button>
                <ul class="dropdown-content">
                    <li><a href="{% url 'category_recipes' 'All Recipes' %}">All Recipes</a></li>
                    <li><a href="{% url 'category_recipes' 'Breakfast' %}">Breakfast</a></li>
                    <li><a href="{% url 'category_recipes' 'Lunch' %}">Lunch</a></li>
                    <li><a href="{% url 'category_recipes' 'Dinner' %}">Dinner</a></li>
                    <li><a href="{% url 'category_recipes' 'Dessert' %}">Dessert</a></li>
                </ul>
            </li>

            <!--Health & Diet Dropdown button-->
            <li class="dropdown">
                <button class="dropbtn">
                    <a href="">Health & Diet 
                        <i class="fi fi-rr-angle-small-down"></i>
                    </a>
                </button>
                <ul class="dropdown-content">
                    <li><a href="{% url 'category_recipes' 'Keto' %}">Keto</a></li>
                    <li><a href="{% url 'category_recipes' 'Vegan' %}">Vegan</a></li>
                    <li><a href="{% url 'category_recipes' 'Vegetarian' %}">Vegetarian</a></li>
                    <li><a href="{% url 'category_recipes' 'Protein' %}">Protein</a></li>
                    <li><a href="{% url 'category_recipes' 'Calorie Deficit' %}">Calorie Deficit</a></li>
                </ul>
            </li>
            
            <!--Holiday Dropdown button-->
            <li class="dropdown">
                <button class="dropbtn">
                    <a href="">Holiday 
                        <i class="fi fi-rr-angle-small-down"></i>
                    </a>
                </button>
                <ul class="dropdown-content">
                    <li><a href="{% url 'category_recipes' 'Valentine\s Day' %}"> Valentine's Day</a></li>
                    <li><a href="{% url 'category_recipes' 'Easter' %}">Easter</a></li>
                    <li><a href="{% url 'category_recipes' 'Halloween' %}">Halloween</a></li>
                    <li><a href="{% url 'category_recipes' 'Thanksgiving' %}">Thanksgiving</a></li>
                    <li><a href="{% url 'category_recipes' 'Christmas' %}">Christmas</a></li>
                    <li><a href="{% url 'category_recipes' 'New Years' %}">New Years</a></li>
                </ul>
            </li>
        </ul>

        <!-- Search Bar -->
        <div class="search-container">
            <input type="text" placeholder="Search recipes...">
            <button type="submit">
                <i class="fi fi-rr-search"></i>
            </button>
        </div>

    </nav>

    <!-- Main Content Area -->
    {% block content %}{% endblock %}
    
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <!-- Social Media Section -->
             <div class="footer-social">
                <h3>Follow Us</h3>
                
                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank">
                        <i class="fi fi-brands-facebook"></i>
                    </a>
                    
                    <a href="https://instagram.com" target="_blank">
                        <i class="fi fi-brands-instagram"></i>
                    </a>
                    
                    <a href="mailto:your@email.com">
                        <i class="fi fi-rr-envelope"></i>
                    </a>
                    
                    <a href="https://twitter.com" target="_blank">
                        <i class="fi fi-brands-twitter"></i>
                    </a>
                </div>
            </div>
            
            <!-- Developer Info -->
             <div class="footer-dev">
                <h3>Developed by: Jasmine Barber-Gray</h3>

                <div class="dev-icons">
                    
                    <a href="mailto:jay.barbergray@gmail.com">
                        <i class="fi fi-rr-envelope"></i>
                    </a>
                    
                    <a href="https://github.com/JasmineBarber-Gray" target="_blank">
                        <i class="fi fi-brands-github"></i>
                    </a>
                    
                    <a href="https://www.linkedin.com/in/jasmine-barber-gray-687098379/" target="_blank">
                        <i class="fi fi-brands-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>© 2026 Kitchen Chronicles | All Rights Reserved</p>
        </div>
    </div>
</footer>

</body>
</html>
