<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Chronicles</title>
    <link rel="stylesheet" type="text/css" href="{% static 'recipes/style.css' %}">
</head>

<body>

<div class="top-bar">
    <a href="{% url 'Login' %}">Login</a> | <a href="{% url 'Signup' %}">Signup</a>
</div>

<header>
    <h1>Kitchen Chronicles</h1>
</header>

    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="{% url 'Home' %}">Home</a></li>
            <li><a href="{% url 'About' %}">About</a></li>
            
            <li class="dropdown">
                <button class="dropbtn"><a href="{% url 'Recipes' %}">Recipes ▼</a></button>
                <ul class="dropdown-content">
                    <li><a href="{% url 'Recipes' %}#breakfast">All Recipes</a></li>
                    <li><a href="{% url 'Recipes' %}#breakfast">Breakfast</a></li>
                    <li><a href="{% url 'Recipes' %}#lunch">Lunch</a></li>
                    <li><a href="{% url 'Recipes' %}#dinner">Dinner</a></li>
                </ul>
            </li>
            
            <li class="dropdown">
                <button class="dropbtn"><a href="">Health & Diet ▼</a></button>
                <ul class="dropdown-content">
                    <li><a href="#kitchen">Keto</a></li>
                    <li><a href="#techniques">Vegan</a></li>
                    <li><a href="#ingredients">Vegetarian</a></li>
                    <li><a href="#mealprep">Protein</a></li>
                    <li><a href="#safety">Calorie Deficit</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <button class="dropbtn"><a href="">Holiday ▼</a></button>
                <ul class="dropdown-content">
                    <li><a href="#kitchen">Valentine's Day</a></li>
                    <li><a href="#techniques">Easter</a></li>
                    <li><a href="#ingredients">Halloween</a></li>
                    <li><a href="#mealprep">Christmas</a></li>
                    <li><a href="#safety">New Years</a></li>
                </ul>
            </li>
        </ul>

        <div class="search-container">
            <input type="text" placeholder="Search recipes...">
            <button type="submit">🔎︎</button>
        </div>

    </nav>

    {% block content %}{% endblock %}

</body>
</html>
