{% extends 'base.html' %}

{% block content %}

<h2>{{ category }} Recipes</h2>

<div class="recipe-grid">

    {% for recipe in recipes %}
    
    <div class="recipe-card">

        <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}">

        <h3><a href="{% url 'recipe_detail' recipe.id %}">{{ recipe.title }}</a></h3>

        <p>by {{ recipe.author.username }}</p>

        <p>{{ recipe.description }}</p>

        <a href="{% url 'recipe_detail' recipe.id %}" class="view-recipe-btn">View Recipe</a>
    </div>
    {% endfor %}
</div>

{% endblock %}