{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h2>Edit Recipe</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>

        <div class="form-group">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>

        <div class="form-group">
            {{ form.sub_category.label_tag }}
            {{ form.sub_category }}
        </div>

        <div class="form-group">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>

        <div class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        <div class="form-group">
            {{ form.ingredients.label_tag }}
            {{ form.ingredients }}
        </div>

        <div class="form-group">
            {{ form.instructions.label_tag }}
            {{ form.instructions }}
        </div>

        <button type="submit" class="submit-button">Update Recipe</button>
    </form>
</div>
{% endblock %}