<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen Chronicles</title>
</head>

<body>
    
<header>
    <h1>Kitchen Chronicles</h1>
</header>

    <nav>
        <ul>
            <li><a href="{% url 'Home' %}">Home</a></li>
            
            <div class="dropdown">
            <button class="dropbtn"><a href="{% url 'Recipes' %}">Recipes</a></button>
            
            <ul>
                <li><a href="#breakfast">Breakfast</a></li>
                <li><a href="#lunch">Lunch</a></li>
                <li><a href="#dinner">Dinner</a></li>
            </ul>
            </li>

            <li><a href="">Healthy Eating</a></li>
            <li><a href="">Holidays</a></li>

            <li><a href="">Login</a></li>
            <li><a href="">Signup</a></li>

        </ul>
    </nav>

</body>
</html>
