/*Base*/
base.html {
    font-family: Arial, sans-serif;
    background: #bfb473;
    color: #2f1a00;
    margin: 0;
    padding: 0;
}

/*Recipes dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    padding: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}